In [1]:
#Operators in Python 
#Input and Output statement 
#Conditional statements

In [2]:
#Operators in Python 
    #Arithmatic 
    #Relational or Comparison 
    #Equality 
    #Assignment 
    #Ternary 
    #special

In [3]:
#Arithmatic Operators 
    #+ - Addition 
    #- - Subtraction 
    #* - Multiplication
    #/ - Division
    #% - Modulo ## remainder
    #// - Floor division #quotient
    #** - Power

In [7]:
a = 10 
b = 3
print('a+b:',a+b)
print('a-b:',a-b)
print('a*b:',a*b)
print('a/b:',a/b)
print('a%b:',a%b)
print('a//b:',a//b)
print('a**b:',a**b)

a+b: 13
a-b: 7
a*b: 30
a/b: 3.3333333333333335
a%b: 1
a//b: 3
a**b: 1000

In [4]:
a=10
b=5
print(a+b)
print(a-b)

15
5

In [8]:
a=10
b=5
print('a+b:',a+b)
print('a-b:',a-b)

a+b: 15
a-b: 5

In [9]:
'10'+10          #string and integers can't be added so we have to typecast the string, make it as a integer

TypeError: can only concatenate str (not "int") to str

In [10]:
'10'+'20'    # string plus string will be concatenation

'1020'

In [16]:
int('10') + 10

20

In [17]:
'10' + '20'

'1020'

In [19]:
#Relation or Comparison 
a = 10 
b = 20

print('a<b:',a<b)
print('a>b:',a>b)
print('a>=b:',a>=b)
print('a<=b:',a<=b)

a<b: True
a>b: False
a>=b: False
a<=b: True

In [2]:
a = 10 
b = 20

print('a<b:',a<b)

a<b: True

In [1]:
a = 10 
b = 20

print('a<b:',a<b)

a<b: True

In [14]:
#Equality Operator 
a = 10 
b = 20                         # single = is for the assignment , it is for assign the values.when we have to compare then 

print(a == b)
print(a!=b)

False
True

In [23]:
a

10

In [20]:
a = 10 
b = 20                         # single equal to (=) is for the assignment , it is for assign the values.when we have to compare then 


print(a!=b)

True

In [18]:
a = 10 
b = 20                         
a = b

In [19]:
a  # if we wont pass double equal then it will take b value but we want to compare a with b either they are equal or not

20

In [24]:
#Ternary Operator 
x = 10 if 10>20 else 30              # if condition is true then it will go to left side value otherwsie it will move to right
#in this case it is not true so it will take 30(will go in right) as value
x

30

In [27]:
a = 7
b = 4              # fail hone pe right mai jana h , pass hone pe left m jana h
c = 5

x = a if a>b>c else b if b>c else c
x

5

In [27]:
a = 7
b = 4
c = 10

x = a if a>b and a>c else b if b>c else c
x

10

In [25]:
a = 7
b = 4
c = 10

x = a if a>b or a>c else b if b>c else c
x

7

In [29]:
#Assignment Operator 
a = 10 
a +=30           # a+=30 means a=a+30 so 10+30=40 then a=a-20 then 40-20=20 will come. 
                 #creating the variable a and assinging the value as 10 in first statement.
a -=20
a

20

In [33]:
#Special Operators 
    #Identity Operators 
        #is 
        #is not
    #Membership Operators
        #in 
        #not in

In [39]:
a = 10 
b = 10 

a is b
print(id(a))
print(id(b))

2261594958416
2261594958416

In [33]:
a = 10 
b = 10 

a is b
print(id(a))
print(id(b))

2159944624720
2159944624720

In [38]:
a=10
b=10
a is b

True

In [39]:
a=-1
b=-1
a is b

True

In [41]:
a=-10         # everything runs on the RAM, puthon always generate the nos starting from -5 to 256 only.
b=-10         #nos coming in this range is having same memory location thats why true is coming
a is b

False

In [3]:
a=100       
b=100
a is b

True

In [4]:
a=100       
b=100
a is b

True

In [ ]:
a=100
b=100
a is b

In [5]:
a=-5
b=-5                     #if membership location is same then it will true otherwise false
a is b

True

In [43]:
a=257
b=257             # outside the range so does not have same memory location so false is coming
a is b

False

In [46]:
a=240.5
b=240.5            # between 240 & 241 there are infinite nos so its true for whole integers only, large memory for
a is b              # storing thes einfinite values.

False

In [34]:
a = 100
b = 100
a is b 
print(id(a))
print(id(b))

2159944816080
2159944816080

In [41]:
a = 300
b = 300 
a is b 
print(id(a))
print(id(b))

2261716087216
2261716087376

In [42]:
a=-1
b =-1
a is b
print(id(a))
print(id(b))

2261594958064
2261594958064

In [6]:
a = 257
b = 257
a is b 
print(id(a))
print(id(b))

2757503939600
2757503939280

In [48]:
a = 240.5
b = 240.5
a is b 
print(id(a))
print(id(b))

2261716086928
2261716087472

In [ ]:
# membership operator

In [49]:
l = ['a','b','c','d']         # a is a member of l yes it is
'a' in l

True

In [51]:
#Input and Output statements

In [52]:
a = 10 
b = 20

In [2]:
age= input("enter your age:")

enter your age:34

In [4]:
age

'25'

In [9]:
type(age)

str

In [10]:
age= input('enter your age')

enter your age36.5

In [11]:
age

'36.5'

In [12]:
type(age)        # input command always give type as STRING (36 is interger and 36.5 is float)

str

In [13]:
age= int(input('enter your age'))               # we are passing float but we are giving integer thats y it is giving errror
                                                # int will always before the input only

enter your age36.5

ValueError: invalid literal for int() with base 10: '36.5'

In [1]:
age= int(input('enter your age'))

enter your age36

In [2]:
age

36

In [16]:
type(age)

int

In [55]:
age

36

In [17]:
age = float(input('Enter your age: '))           # some times we get raw before the input in python 2, in pyhton 3 
                                                #raw is not there

Enter your age: 36.5

In [18]:
type(age)

float

In [19]:
age

36.5

In [20]:
print('Hi')
print()
print('Hello')

Hi

Hello

In [22]:
print ('Hi kushal')
print ()
print('hi neha')

Hi kushal

hi neha

In [23]:
print ('Hi kushal')
#print ()
print('hi neha')

Hi kushal
hi neha

In [24]:
print('Hello\nall')       # \n is basically new line character , after hello go to the next line then print all

Hello
all

In [25]:
print('Helloall')

Helloall

In [73]:
print('Hello\tall')         # \t is tab saperator

Hello	all

In [26]:
a=10
b=20
c=30

In [27]:
a,b,c = 100,200,300

In [28]:
a

100

In [29]:
b

200

In [30]:
c

300

In [31]:
print(a,b,c,sep='$')   # SEP  is used to saperate the values with anything u want

100$200$300

In [32]:
print(a,b,c,sep='%%')

100%%200%%300

In [42]:
print('Hello',end=' ')                  # want to give threee statement but want one output only  
print('Students',end=' ')
print('Hope you are liking Python')

Hello Students Hope you are liking Python

In [4]:
print('Hello',end=' ')                  # want to give threee staement but want one output only  
print('Students',end=' ')
print('Hope you are liking Python')

Hello Students Hope you are liking Python

In [5]:
print('Hello',end='\n')                  # want to give threee statement but want one output only  
print('Students',end='\n')
print('Hope you are liking Python', end='\n')

Hello
Students
Hope you are liking Python

In [33]:
print('Hello')
print('Students')
print('Hope you are liking Python')

Hello
Students
Hope you are liking Python

In [34]:
print('Hello Students Hope you are liking Python')

Hello Students Hope you are liking Python

In [50]:
name = 'Kushal'
salary = 10000
company = 'Mcdermott'

In [51]:
print('Hello', name, 'your salary is', salary, 'your company is', company)

Hello Kushal your salary is 10000 your company is Mcdermott

In [57]:
print('Hello {} your salary is {} and your company is {}')   # in next step format denge in tuple with normal bracket

Hello {} your salary is {} and your company is {}

In [52]:
print('Hello {1} your salary is {2} and your company is {0}'.format(company, name, salary))

Hello Kushal your salary is 10000 and your company is Mcdermott

In [60]:
print('Hello {} your salary is {} and your company is {}'.format(name, salary, company))   # first tupple will go to ist
                                                                                           # 2nd will go to 2nd

Hello Kushal your salary is 10000 and your company is Mcdermott

In [54]:
print('Hello {} your salary is {} and your company is {}'.format(company, name, salary))    # wrong a rha h output

Hello Mcdermott your salary is Kushal and your company is 10000

In [61]:
print('Hello {1} your salary is {2} and your company is {0}'.format(company, name, salary))

Hello Kushal your salary is 10000 and your company is Mcdermott

In [63]:
print('Hello {n} your salary is {s} and your company is {c}'.format(c=company, n=name, s=salary))  # agar sequence nhi hoga
                                                                                                  # den index we have to give

Hello Kushal your salary is 10000 and your company is Mcdermott

In [93]:
#Conditional Statements----VERY IMPORTANT

In [94]:
#if else 
#for 
#while

In [3]:
marks = int(input('Enter the marks you got: '))
if marks<40:
    print('You failed the exam')
    print('Hi')
else:
    print('You passed the exam')
print('e')

Enter the marks you got: 45
You passed the exam
e

In [4]:
marks = int(input('Enter the marks you got: '))
if marks<40:
    print('You failed the exam')
    print('Hi')
else:
    print('You passed the exam')
print('e')

Enter the marks you got: 20
You failed the exam
Hi
e

In [76]:
marks= input('Enter the marks you got: ')     
if marks<40:
    print ('you failed the exam')
else:
    print('you passed the exam')
print ('e')

Enter the marks you got: 14

TypeError: '<' not supported between instances of 'str' and 'int'

In [79]:
marks= input('Enter the marks you got')     
if marks < 40:
print ('you failed the exam')
else:
    print('you passed the exam')

IndentationError: expected an indented block (433065812.py, line 3)

In [ ]:
 # after collan we have to go to the next line always with tab indentation, remind

  # this thing, after collan it should be one tab otherwise it ll give error

# else should be always below the IF
# between if and else there should be any line then those should be tab inteneded only but after else without tab intended 
#will work bcz after else if else block is complete

In [2]:
marks = int(input('Enter the marks you got: '))
if marks<40:
    print('You failed the exam')
elif marks>=40 and marks<=60:
    print('You got avg marks')
else:
    print('You got excellent marks')

Enter the marks you got: 55
You got avg marks

In [1]:
marks = input('Enter the marks you got: ')
if marks<40:                                          
    print('You failed the exam')
elif marks>=40 and marks<=60:
    print('You got avg marks')
else:
    print('You got excellent marks')

Enter the marks you got: 50

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
# input will always give the string value 14 is string h
#so we have to convert it into iontegerstring h
 #hum integer de rhe h so ye compare nhi krega

In [5]:
marks = int(input('Enter the marks you got: '))
if marks<40:
    print('You failed the exam')
elif marks>=40 and marks<=60:
    print('You got avg marks')
else:
    print('You got excellent marks')

Enter the marks you got: 70
You got excellent marks

In [6]:
marks = int(input('Enter the marks you got: '))
if marks<40:
    print('You failed the exam')
else marks>=40 and marks<=60:
    print('You got avg marks')
else:
    print('You got excellent marks')

SyntaxError: invalid syntax (474203623.py, line 4)

In [7]:
marks = int(input('Enter the marks you got: '))            # 70 ke liye koi condition nhi dali h so marks hi a rhe h 
if marks<40:
    print('You failed the exam')
elif marks>=40 and marks<=60:
    print('You got avg marks')

Enter the marks you got: 70